<div class="spacer"></div>
<div class="select">
    <mat-form-field>
        <mat-label>Mostra:</mat-label>
        <mat-select [(value)]="selectedCategory" (selectionChange)="selezionaCategoria()">
          <mat-option [value]="option.value" *ngFor="let option of category">{{ option.viewValue }}</mat-option>
        </mat-select>
    </mat-form-field>  
</div>

<!-- BOTTONE DI TEST -->
<!-- <button mat-button (click)="ritornaSelected()">AGGIORNA CONSOLE</button> -->

<div class="sezioneAcquisto">
  <div class="contenitoreAcquisto" *ngIf="selectedCategory=='tutto'">
    <mat-card class="shopping-card" *ngFor="let prodotto of listaProdotti">
      <mat-card-header>
        <mat-card-title>{{prodotto.nome}}</mat-card-title>
        <mat-card-subtitle>{{prodotto.category}}</mat-card-subtitle>
      </mat-card-header>
      <div class="bloccoFoto">
        <img mat-card-image [src]="getPercorso(prodotto.nome)" alt="Foto del prodotto">
      </div>
      <mat-card-content>
        <p>
          Quantità disponibile: {{prodotto.qta}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="/buyNow"  (click)="inviaDati(prodotto.id)">ACQUISTA</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="contenitoreAcquisto" *ngIf="selectedCategory!='tutto'">
    <mat-card class="shopping-card" *ngFor="let prodotto of listaProdottiFiltrati">
      <mat-card-header>
        <mat-card-title>{{prodotto.nome}}</mat-card-title>
        <mat-card-subtitle>{{prodotto.category}}</mat-card-subtitle>
      </mat-card-header>
      <div class="bloccoFoto">
        <img mat-card-image [src]="getPercorso(prodotto.nome)" alt="Foto del prodotto">
      </div>
      <mat-card-content>
        <p>
          Quantità disponibile: {{prodotto.qta}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="/buyNow" (click)="inviaDati(prodotto.id)">ACQUISTA</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>




<!-- TEMPORANEO SOLO PER MANDARE IL FOOTER IN BASSO -->
<div style="height: 100vh;"></div>






