<div style="margin-top: 160px; padding: 30px; height: 100vh;">
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col"></div>
            <div class="col-4">
                <div class="card shadow">
                    <div class="card-body">
                        <form>
                            <div class="mb3">
                                <h4 class="text-dark text-muted">Register</h4>
                            </div>
                            <div class="mb-3">
                              <label for="exampleInputEmail1" class="form-label">Email</label>
                              <input type="email" class="form-control" name="email" [(ngModel)]="email">
                            </div>
                            <div class="mb-3">
                              <label for="exampleInputPassword1" class="form-label">Password</label>
                              <input type="password" class="form-control" name="password" [(ngModel)]="password">
                            </div>
                            <button type="button" style="background-color: #8e8e8e; border-color: black;" class="btn btn-info"
                            (click)="onRegister()">Register</button>
                            <div class="row">
                                <div class="col-md-6">
                                    <a routerLink="/login" style="text-decoration: none;">Hai già un account? <span style="text-decoration-color: black;">Login!</span></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>

