<div class="footer">
    <div class="divPri">
        <div class="item">
            <span class="textLogo">EquiStore</span>
            <span class="textCorpo">Seguici sui nostri profili social per rimanere sempre aggiornato sulle nostre ultime uscite.
            </span>
            <span class="spacer"></span>
            <div class="socialIcons">
                <a href="https://www.facebook.com/"><fa-icon [icon]="['fab', 'facebook']"></fa-icon></a>
                <a href="https://www.instagram.com/"><fa-icon [icon]="['fab', 'instagram']"></fa-icon></a>
                <a href="https://twitter.com/?lang=it"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></a>
                <a href="https://it.linkedin.com/"><fa-icon [icon]="['fab', 'linkedin']"></fa-icon></a>
            </div>
        </div>
        <div class="item">
            <span><button mat-button routerLink="home" (click)="scroll.scrollToTop()">Home</button></span>
            <span><button mat-button routerLink="shop" (click)="scroll.scrollToTop()">Shop</button></span>
            <span><button mat-button routerLink="about" (click)="scroll.scrollToTop()">About</button></span>
        </div>
        <div class="item"></div>
    </div>
    <div class="divSec">
        <div class="item"><span class="text">© 2023 EquiStore , S.R.L</span></div>
        <div class="item"><span><img src="../../assets/ElementiFooter/PaymentIcons.png" alt="Icona del sito"></span></div>
        <div class="item"><button mat-button class="text" (click)="scroll.scrollToTop()">Torna in cima<mat-icon style="transform: scale(1.5);">keyboard_arrow_up</mat-icon></button></div>
    </div>
</div>
