<div class="spacer"></div>

<div class="generalDiv">

  <div class="flexBox">
    <div class="flexBoxItem">
      <span>Inserire nel form sottostante il prodotto da aggingere al catalogo: </span>
    </div>
  </div>
  
  <!-- FORM AGGIUNTA PRODOTTI AL DB -->
  <div class="productForm">
    <form [formGroup]="productform" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput type="text" name="nome" formControlName="nome"/>
      </mat-form-field>
      <p *ngIf="!productform.get('nome')!.valid && productform.get('nome')!.touched">Inserisci un nome valido!</p> <!-- Il punto esclamativo assicura che non sia NULL, occhio a dove viene messo-->
      <mat-form-field appearance="fill" >
        <mat-label>Quantita</mat-label>
        <input matInput type="number" name="quantita" formControlName="quantita"/>
      </mat-form-field>
      <p *ngIf="!productform.get('quantita')!.valid && productform.get('quantita')!.touched">Inserisci una quantità valida!</p>
      <mat-form-field appearance="fill">
        <mat-label>Categoria</mat-label>
        <mat-select name="categoria" formControlName="categoria" [(value)]="selectedCategory">
          <mat-option [value]="option.value" *ngFor="let option of categorys">{{ option.viewValue }}</mat-option>
        </mat-select>
      </mat-form-field>
      <p *ngIf="!productform.get('categoria')!.valid && productform.get('categoria')!.touched">Inserisci una categoria valida!</p>
      <button mat-raised-button color="#8e8e8e" type="submit" [disabled]="!productform.valid">Invia</button> <!-- Il punto esclamativo serve ad invertire il controllo -->
    </form>
  </div>

  <!-- TABELLA DI VISUALIZZAZIONE PRODOTTI INSERITI NEL DB-->
  <div class="tableView">
    <div class="col-md-8 mt-2">
      <h5 class="font" style="font-size: 3vh; text-align: center;">Product List</h5>
      <div class="card p-3 shadow">
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col" class="font" style="font-size: 2vh; color:black !important;">Nome</th>
                <th scope="col" class="font" style="font-size: 2vh; color:black !important;">Categoria</th>
                <th scope="col" class="font" style="font-size: 2vh; color:black !important;">Quantità</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let prodotto of listaProdotti">
                <td class="font">{{prodotto.nome}}</td>
                <td class="font">{{prodotto.category}}</td>
                <td class="font">{{prodotto.qta}}</td>
                <td>
                  <button class="btn btn-outline-danger" (click)="delProduct(prodotto)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
  </div>



</div>