.spacer{
    height: 10vh;
}

.productForm{
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.productForm form {
    text-align: center; 
}

.flexBox{
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.flexBoxItem{
    text-align: center; 
}
.flexBoxItem span{
    color: #8e8e8e;
    font-family: Poppins;
    font-size: auto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

.generalDiv{
    min-height: 100vh;
}

//-------------------------------------------------

.tableView{
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-bottom: 5vh;
}

.tableView col-md-8 mt-2{
    text-align: center;
}

.font{
    color: #8e8e8e;
    font-family: Poppins;
    font-size: auto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}