.spacer{
    height: 10vh;
}

.bottoneGestione {
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
.center-container {
  text-align: center; 
}
  
.generalDiv{
  min-height: 100vh;
}