
.generalDiv{
    margin-top: 160px;
    min-height: 100vh;

}

.font{
    color: #8e8e8e;
    font-family: Poppins;
    font-size: 3vh;
    font-style: normal;
    font-weight: bold;
    line-height: normal;

    padding: 30px;
}